body{
    margin: 0;
    display: flex;
}
#navbar{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 1.75rem;
}
.nav-link{
    text-decoration: none;
    padding: 1rem;
}
#main-doc{
    margin: 3rem;
}
.main-section{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 1.75rem;
    margin: 1rem;
    padding: 1rem;
}
header{
    padding: 1rem;
    font-size: 3em;
}
div{
    padding: 1rem;
    font-size: 1.25em;
}
p{
    text-indent: 1.25em;
}
ul{
    padding: 0.75rem;
    list-style: circle;
    margin: 2rem 5rem;
}
li{
    padding: 0.5em;
}
code{
    /* background-color: grey;
    border-radius: 1.75rem; not how you style code tag*/
}
