body{
    margin: 0;
    background-color: white;
    display: flex;
}
#navbar{
    height: 100%;
    background-color: rgba(248, 230, 230);
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 0rem 1.75rem 1.75rem 0rem ;
    position: fixed;
    width: 20rem;
    border-right: 3px solid rgba(192, 192, 192, 0.733);
}
.nav-link{
    text-decoration: none;
    padding: 1rem 0rem 1rem 0rem;
    border-top: 3px solid rgba(192, 192, 192, 0.733);;
    width: 100%;
    text-indent: 0.5rem;
}
#main-doc{
    margin: 1.5rem;
    margin-left: 25rem;
}
.main-section{
    background-color: rgba(248, 230, 230);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 1.75rem;
    margin: 2.5rem 1rem;
    padding: 1rem;
}
header{
    padding: 1rem;
    font-size: 3em;
}
div{
    padding: 1rem;
    font-size: 1.25em;
    margin: 1rem 2rem;
}
p{
    text-indent: 1.25em;
}
ul{
    padding: 0.75rem;
    list-style: circle;
    margin: 2rem 5rem;
}
li{
    padding: 0.5em;
}
code{
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #f1f1f1;
    padding: 0.3em;
}
@media screen and (max-width:700px) {
    body{
        flex-direction: column;
    }
    #navbar{
        position: relative;
        width: auto;
        margin: 0.5rem;
        border-radius: 0.5rem;
    }
    #main-doc{
        margin: 0.5rem;
    }
    .main-section{
        border-radius: 0.5rem;
        margin: 1.5rem 0.25rem;
        padding: 0rem;
    }
    header{
        font-size: 2rem;
        text-align: center;
    }
    div{
        margin: 0.25rem;
    }
    ul{
        margin: 0.25rem;
    }
}